{% load static %}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-row footer-row-top">
            <a href="https://www.sfu.ru/ru" class="footer-university"
               data-lang-ru="Сибирский Федеральный Университет" data-lang-en="Siberian Federal University">
                Сибирский Федеральный Университет
            </a>
            <span class="footer-copyright">@skill_issue 2025</span>
        </div>
        <div class="footer-row footer-row-authors">
            <span class="footer-author">@bukohm</span>
            <span class="footer-author">@hoolkayyy</span>
            <span class="footer-author">@K1rkaSs</span>
        </div>
    </div>
</footer>
